################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ms-pacman/.vs/ms-pacman/v15
*.pyproj
*.sln
ms-pacman/.vscode/
