################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ms-pacman/.vs/ms-pacman/v15
*.pyproj
*.sln
ms-pacman/.vscode/

!ms-pacman/weights/*.h5
*.h5
*.png
!ms-pacman/docs/*

/.vs
